/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/


body {
	padding-top:40px;
}

#content {
}
	#content section {
		margin-top:40px;
	}
	
	
/* INNERTUBE
 * ========= */

/* InnertubeUI.WidgetViewport */
.innertube-ui-widget-viewport {
	height:180px;
	background-color:#fff;
	overflow:hidden;
}
  .innertube-ui-widget-viewport > iframe {
  	display:block;
  	margin:0;
  	padding:0;
  	width:100%;
  	height:100%;
  }


/* NAVBAR
 * ====== */
.navbar-inner {
  background-color: #44A9EB;
  background-color: #3398da;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#44a9eb), to(#3398da));
  background-image: -moz-linear-gradient(top, #44a9eb, #3398da);
  background-image: -ms-linear-gradient(top, #44a9eb, #3398da);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44a9eb), color-stop(100%, #3398da));
  background-image: -webkit-linear-gradient(top, #44a9eb, #3398da);
  background-image: -o-linear-gradient(top, #44a9eb, #3398da);
  background-image: linear-gradient(top, #44a9eb, #3398da);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44a9eb', endColorstr='#3398da', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
  .navbar .nav > li > a {
    color:#ddd;
  }


/* FOOTER
 * ====== */
.footer {
  margin-top:45px;
	padding:35px 0;
	border-top:1px solid #e5e5e5;
}
.footer p {
	color: #555;
}


/* BANNER
 * ====== */
.banner {
	height:200px;
	background:#44A9EB url(../images/banner-bg.png) center center;
	overflow:hidden;
	-webkit-box-shadow:inset 0 -8px 8px rgba(0,0,0,0.15);
	   -moz-box-shadow:inset 0 -8px 8px rgba(0,0,0,0.15);
	        box-shadow:inset 0 -8px 8px rgba(0,0,0,0.15);
}
.banner ._title {
	position:relative;
	float:left;
	margin:40px 0 10px;
}
	.banner ._title>img {
		float:left;
		margin-right:14px;
	}
	.banner ._title>span {
		float:left;
		margin-top:18px;
		font-weight:200;
		font-size:40px;
		color:#fff;
		-webkit-text-shadow:2px 2px 0 rgba(0,0,0,0.15);
		   -moz-text-shadow:2px 2px 0 rgba(0,0,0,0.15);
		        text-shadow:2px 2px 0 rgba(0,0,0,0.15);
	}
.banner ._blurb {
	clear:both;
	line-height:1.1em;
	font-weight:200;
	font-size:24px;
	color:#fff;
	-webkit-text-shadow:2px 2px 0 rgba(0,0,0,0.15);
	   -moz-text-shadow:2px 2px 0 rgba(0,0,0,0.15);
	        text-shadow:2px 2px 0 rgba(0,0,0,0.15);
}

/* Quickstart
=============================================*/
.quickstart {
	background-color:#eee;
	border-top:1px solid #f7f7f7;
	border-bottom:1px solid #ddd;
}
	.quickstart * > .box {
		margin:0 -10px;
		padding:5px 10px 20px;
		height:120px;
		border-left:1px solid #ddd;
	}
	.quickstart *:last-child > .box {
		border-right:1px solid #ddd;
	}
	.quickstart h6 {
		text-align:center;
		color:#999;
	}
	.quickstart p {
		text-align:center;
		font-size:13px;
	}
	
	textarea.copy-code {
		display:block;
		padding:4px !important;
		width:288px;
		font-size:13px;
		white-space:nowrap;
		overflow:hidden;
	}
