<!DOCTYPE html>
<html>
<head>
	<title>Innertube</title>
	
	<!-- Blueprint CSS -->
	<link rel="stylesheet" href="css/cw10gw20cc24/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/cw10gw20cc24/print.css" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/cw10gw20cc24/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	
	<!-- @font-face "GothamBookRegular" "GothamMediumRegular" -->
	<link rel="stylesheet" href="css/gotham/stylesheet.css" type="text/css" />
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="css/innertube/alpha.css" type="text/css" />
	
	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7263812-2']);
	  _gaq.push(['_setDomainName', '.innertube.me']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
	
	{{ head }}
</head>
<body>
	
{{ content }}

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6908201; 
var sc_invisible=1; 
var sc_security="b8e2b4f4"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="vBulletin
counter" href="http://statcounter.com/vbulletin/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/6908201/0/b8e2b4f4/1/"
alt="vBulletin counter"></a></div></noscript>

</body>
</html>